#morrowind-plugin-panel {
  .list-group {
    border: $border-width solid $border-color;
    min-height: $gutter-width;
    overflow: auto;
    height: 100%;
  }
  .plugin-entry {
    background-color: $brand-bg;
    margin: 4px;

    &.dragging {
      opacity: 0;
    }
  }

  > .layout-container > .layout-flex {
    margin: 4px;
  }

  .plugin-column {
    padding: 4px;
  }
}

#morrowind-collections-layout {
  flex: 1 1 0;
  position: relative;
  overflow: auto;
  #morrowind-list-group {
    .morrowind-load-order-entry {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $brand-bg;
      margin: 0px;

      height: 100%;
      overflow: auto;
      border-width: 1px;
      border-style: solid;
      border-color: $gray;
    
      .load-order-index {
        padding: 2px 2px;
        margin-right: 15px;
      }
    }
  }
}
